.treeContainer {
    min-width: 20rem;
    background-color: rgb(238, 238, 238);
    min-height: 100%;

}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.serviceContainer {
    display: flex;
    /* justify-content: center; */
    padding-top: 3rem;
    padding-left: 3rem;
    width: 100%;
}

.addButton {
    border: none;
    /* background-color: rgb(215, 215, 215); */
    cursor: pointer;
    padding-left: 23px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.controlsContainer {
    padding: 0px 23px;
    margin-bottom: 1rem;
    /* border: none; */
    /* padding: 10px; */
}

.selectedText {
    color: goldenrod;
}