.treeContainer {
    min-width: 20rem;
    background-color: rgb(238, 238, 238);
    min-height: 100%;

}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.serviceContainer {
    display: flex;
    /* justify-content: center; */
    padding-top: 3rem;
    padding-left: 3rem;
    width: 100%;
}